* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background-color: #fff7ed;
  color: #161616;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

header {
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

header .logo {
  color: black;
  margin-right: auto;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 25px;
}

header a {
  text-decoration: none;
  color: #4d4d4d;
  font-weight: 600;
  padding: 5px 20px;
}

header a:hover {
  color: #161616;
  text-decoration: underline;
}

footer {
  background-color: #252525;
  color: #aaaaaa;
  font-size: 14px;
  font-weight: 500;
  height: 74.75px;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Intro Page */

.intro-page {
  background-image: url(./Images/home-hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.46),
    rgba(0, 0, 0, 0.46)
  );
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 100%;
  min-height: 350px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 65.78px 26.91px;
}

.intro-page > h1 {
  width: 500px;
  height: 84px;
  font-weight: 800;
  font-size: 36px;
  margin-bottom: 22.64px;
}

.intro-page > p {
  width: 500px;
  height: 48px;
  font-weight: 500;
  margin-bottom: 51.66px;
}

.intro-page > a {
  width: 500px;
  height: 49.83px;
  background-color: #ff8c38;
  color: #ffffff;
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 15.95px;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}

.intro-page a:hover {
  transform: translate(1px, 1px);
}

/* About Page */

.about-page-hero-img {
  max-width: 100%;
}

.info-container {
  padding: 35px 27px;
}

.info-container > h2 {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 31.33px;
  line-height: 38px;
}

.info-container > p {
  height: 154px;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.sub-info {
  height: 198px;
  background-color: #ffcc8d;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 32px 37px;
}

.sub-info > h5 {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 25px;
}

.sub-info > a {
  background-color: #161616;
  color: white;
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 15.95px;
  padding: 12px 0;
  width: 174px;
  height: 49px;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
}

.vans-page {
  margin: 54.23px 26.91px;
}

.vans-page > h1 {
  margin-bottom: 22.39px;
}

.van-option-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 55.69px;
}

.van-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.van-options > a {
  text-decoration: none;
  background-color: #ffead0;
  width: 104px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4d4d4d;
  border-radius: 5px;
}

.van-option-wrapper > button {
  font-family: "Inter", sans-serif;
  background-color: #fff7ed;
  color: #4d4d4d;
  border: none;
  text-decoration: underline;
}

.vans-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  padding: 0 180px;
}

.van-tile {
  width: 229.22px;
  height: 309.96px;
}

.van-tile a {
  color: #161616;
  text-decoration: none;
}

.van-tile img {
  width: 229.22px;
  height: 229.22px;
  border-radius: 5px;
}

.van-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.van-info > h3 {
  font-size: 20px;
  font-weight: 600;
  margin-top: 9.97px;
}

.van-info > p {
  display: flex;
  flex-direction: column;
}

.van-type {
  height: 34px;
  padding: 6px 26px;
  font-style: normal;
  font-weight: 500;
  text-transform: capitalize;
  border: none;
  border-radius: 5px;
  background-color: #ffead0;
  color: #4d4d4d;
  transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
}

.van-type:hover {
  color: #ffead0;
}

.van-type:focus {
  outline: none;
}

.van-type.selected {
  color: #ffead0;
}

.van-type.simple:hover,
.van-type.simple.selected {
  background-color: #e17654;
}

.van-type.rugged:hover,
.van-type.rugged.selected {
  background-color: #115e59;
}

.van-type.luxury:hover,
.van-type.luxury.selected {
  background-color: #161616;
}

i[class*="van-type-"] {
  padding: 7px 14px;
}

.van-detail-container {
  padding: 27px;
}

.van-detail-container .back-button {
  color: #201f1d;
  text-decoration: underline;
  position: relative;
}

.van-detail-container .back-button::before {
  content: "➜";
  display: inline-block;
  transform: rotate(180deg);
  margin-right: 8px;
  padding-bottom: 2px;
  color: #858585;
  text-decoration: none;
}

.van-detail-container .back-button:visited {
}

.van-detail-container .back-button span {
  text-decoration: underline;
}

.van-detail {
  display: flex;
  flex-direction: column;
  color: #161616;
}

.van-detail img {
  border-radius: 5px;
  margin-block: 47px;
}

.van-detail h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.van-detail > i {
  align-self: flex-start;
}

.van-detail .van-price {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.van-detail .van-price span {
  font-weight: 700;
  font-size: 1.5rem;
}

.van-detail .link-button {
  background-color: #ff8c38;
  color: white;
  font-size: 1.125rem;
  border-radius: 4.98px;
  border: none;
  height: 49.83px;
}
